/* VARIABLES */
:root {
  /* fonts */
  --font-headings:'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;

  /* colors */
  --pink: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);

  /* weights */
  --w-headings: 700;
  --w-semi: 600;
  --w-body: 400;
}

/* LAYOUT */
* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  font-family: var(--font-body);
  margin: 0;
}
h1, h2 {
  font-family: var(--font-headings);
  font-weight: var(--w-headings);
  color: var(--dark-cyan);
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
.button {
  background-color: var(--pink);
  min-width: 276px;
  padding: 10px 3rem;
  border: none;
  border-radius: 24px;
  outline: none;
  color: #fff;
  font-family: var(--font-body);
  font-weight: var(--w-semi);
  font-size: 15px;
}

/* HEADER */
.header {
  background-image: url('./images/bg-hero-mobile.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #EDFCFF;
  padding-bottom: 2rem;
}
.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
  width: calc(100% - 30px);
  max-width: 1285px;
  margin: auto;
}
.header__logo {
  width: 35%;
  max-width: 200px;
  line-height: 0;
}

.header__button {
  display: inline-block;
  padding: 5px 22px;
  border-radius: 12px;
  font-size: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  color: var(--dark-cyan);
  font-weight: 700;
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 4rem);
  max-width: 1285px;
  margin: auto;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.hero__title {
  text-align: center;
  font-size: 27px;
  letter-spacing: -1%;
  line-height: 1.5;
}
.hero__subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.hero__img {
  margin: 0;
}
/* CARDS */

.cards-container {
  padding-top: 60px;
  margin-bottom: 100px;  
}
.card {
  display: flex;
  flex-direction: column;
  width: calc( 100% - 40px);
  max-width: 1230px;
  margin: auto;
  padding: 50px 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(135, 135, 135, .25);
  margin-bottom: 2.3rem;
  background-color: #fff;
}
.card__title {
  text-align: center;
  font-size: 20px;
}
.card__description {
  text-align: center;
  font-size: 14px;
  color: var(--grayish-blue);
  line-height: 1.5;
}
.card__img {
  margin: 0;
  margin-bottom: 1.5rem;
}
/* Start card */
.start {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 24px);
  max-width: 800px;
  padding: 45px 20px;
  margin: auto;
  margin-bottom: -75px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(135, 135, 135, .25);
  background-color: #fff;
}
.start__title {
  font-size: 1rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
/* FOOTER */
.footer {
  background-color: var(--dark-cyan);
  color: #fff;
  font-size: 12px;
  padding-top: 5rem;
  padding-left: 12px;
  padding-right: 12px;
}
.footer__logo {
  width: 35%;
  max-width: 200px;
  margin-top: 2rem;
}
.contact {
  margin-top: 10px;
}
.contact__data {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact__img {
  margin-right: 10px;
  width: 10px;
}
/* Footer nav */
.footer__nav {
  margin-top: 20px;
  margin-bottom: 1rem;
}
.nav__item {
  margin-bottom: .5rem;
}
/* social media */
.social {
  display: flex;
  justify-content: center;
}
.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  line-height: 0;
}
.copyright {
  text-align: center;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
  margin: 0;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* Media Queries */

@media only screen and (min-width:426px) {

  .header {
    background-image: url('./images/bg-hero-desktop.svg');
  }
  .header__buttons {
    height: 122px;
  }
  .header__button {
    padding: 10px 44px;
    font-size: 12px;
    border-radius: 24px;
  }
  .hero {
    flex-direction: row;
    justify-content: space-between;
  }
  .hero__img {
    width: 40%;
  }
  .hero-container {
    align-items: flex-start;
    width: 40%;
  }
  .hero__title {
    text-align: left;
  }
  .hero__subtitle {
    text-align: left;
  }
  .card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .card:nth-child(2) {
    flex-direction: row;
  }
  .card-container {
    width: 45%;
  }
  .card__img {
    width: 35%;
  }
  .card__title, .card__description {
    text-align: left;
  }
}
@media only screen and (min-width:1025px) {

  .header__buttons {
    height: 150px;
  }
  .header__button {
    padding: 14px 64px;
    font-size: 15px;
    border-radius: 24px;
  }
  .hero__img {
    width: 60%;
  }
  .hero-container {
    width: 30%;
  }
  .card {
    padding-left: 120px;
  }
  .card__img {
    margin-bottom: 0;
    width: 35%;
  }
}