/* VARIABLES */
:root {
  /* fonts */
  --font-headings:'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;

  /* colors */
  --pink: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);

  /* weights */
  --w-headings: 700;
  --w-semi: 600;
  --w-body: 400;
}

/* LAYOUT */
* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  font-family: var(--font-body);
  margin: 0;
}
h1, h2 {
  font-family: var(--font-headings);
  font-weight: var(--w-headings);
  color: var(--dark-cyan);
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  list-style: none;
}
.button {
  background-color: var(--pink);
  padding: 10px 3.5rem;
  border: none;
  border-radius: 24px;
  outline: none;
  color: #fff;
  font-family: var(--font-body);
  font-weight: var(--w-semi);
  font-size: 15px;
}

/* HEADER */
.header {
  background-image: url('./images/bg-hero-mobile.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #EDFCFF;
  padding-bottom: 2rem;
}
.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
  width: calc(100% - 30px);
  margin: auto;
}
.header__logo {
  width: 35%;
  line-height: 0;
}
.header__img {
  width: 100%;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 22px;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
.header__button a {
  font-size: 10px;
  color: var(--dark-cyan);
  font-weight: 700;
}
/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 4rem);
  margin: auto;
}
.hero-container {
  margin-bottom: 40px;
}
.hero__title {
  text-align: center;
  font-size: 27px;
  letter-spacing: -1%;
  line-height: 1.5;
}
.hero__subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;

}
.img-container {
  margin: 0;
  margin-top: 3rem;
}
.hero__img {
  width: 100%;
}
/* CARDS */

.card-container {
  padding-top: 60px;
  margin-bottom: 100px;  
}
.card {
  display: flex;
  flex-direction: column;
  width: calc( 100% - 40px);
  margin: 0 auto;
  padding: 50px 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(135, 135, 135, .25);
  margin-bottom: 2.3rem;
}
.card__title {
  text-align: center;
  font-size: 20px;
}
.card__description {
  text-align: center;
  font-size: 14px;
  color: var(--grayish-blue);
}
.card__img {
  width: 100%;
}
.start {
  position: relative;
  bottom: -38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 24px);
  padding: 45px 20px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(135, 135, 135, .25);
  background-color: #fff;
}
.start__title {
  font-size: 1rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
/* FOOTER */
.footer {
  background-color: var(--dark-cyan);
  color: #fff;
  font-size: 12px;
  padding-top: 3rem;
  padding-left: 12px;
  padding-right: 12px;
}
.footer__logo {
  width: 35%;
}
.contact {
  margin-top: 10px;
}
.contact__list img {
  display: inline-block;
  width: 10px;
  margin-right: 10px;
}
.footer__nav {
  margin-top: 20px;
}
.social {
  display: flex;
  justify-content: center;
}
.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}
.copyright {
  text-align: center;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
  margin: 0;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}